* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  font-size: 0;
  background: #efefef;
}

.shape {
  width: 60px;
  height: 60px;
  background: hsl(150, 60%, 60%);
  display: inline-block;
  margin: 1px;
}