* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 0;
}

.shape {
  width: 2vw;
  height: 2vw;
  background: hsl(250, 80%, 30%);
  display: inline-block;
  margin: 0;
}

.variation-1 {
  background: hsl(220, 80%, 40%);
}

.variation-2 {
  background: hsl(210, 60%, 30%);
}

.variation-3 {
  background: hsl(10, 70%, 30%);
}