* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: #efefef;
  position: relative;
  font-size: 0;
  line-height: 0;
}

@keyframes spin {
  0% {
    border-top-color: hsl(300, 50%, 50%);
  }
  100% {
    border-top-color: transparent;
  }
}

.shape {
  width: 0;
  height: 0;
  border-top: 60px solid hsl(300, 50%, 50%);
  border-left: 60px solid transparent;
  margin: 0;
  display: inline-block;
  transition: all 2s;
  animation-name: spin;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.shape-interaction {
  transform: rotate(450deg);
}
